@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "REM";
  src: url("/fonts/REM-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Galmuri11";
  src: url("/fonts/Galmuri11.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Galmuri11";
  src: url("/fonts/Galmuri11-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 모든 요소의 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: "REM", "Pretendard", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: linear-gradient(223deg, #fffdf5 -3.13%, #edfeff 106.63%);
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
}
.flex-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: auto; */
}

main.error-container {
  display: flex;
}

.error-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  img {
    width: 160px;
    margin-bottom: 36px;
  }
  p {
    font-weight: 500;
    font-size: 2.4rem;
    color: #525252;
  }
  a {
    font-weight: 600;
    font-size: 2rem;
    color: #006351;
    text-decoration: none;
  }
}

.error-notice.small {
  img {
    width: 80px;
    margin-bottom: 18px;
  }
  p {
    font-size: 1.4rem;
  }
  a {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

main:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid hsla(169, 55%, 26%, 0.3);
}

.swal2-title {
  font-size: 2rem !important;
  margin-bottom: 10px;
  font-weight: 500;
}
.swal2-html-container {
  font-size: 1.6rem !important;
}
.swal2-confirm,
.swal2-cancel,
.swal2-label {
  font-size: 1.6rem !important;
}

.swal2-container.swal2-bottom-end {
  margin-right: 30px;
  margin-bottom: 30px;
}
.swal2-confirm {
  background-color: #15b79e;
  color: white;
  font-weight: 700;
}
.swal2-cancel {
  background-color: #e4e7ec;
  color: #667085;
  font-weight: 700;
}

div.footer {
  color: #50b1a8;
  font-size: 10px;
  text-align: center;
  padding: 4rem 0 2rem 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

div.loading-box {
  padding-left: 10px;
  padding-top: 20px;
  position: absolute;
}

div.loading-box-user {
  position: absolute;
  margin: 20px;
}

span.loading {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 5px solid #15b79e;
  border-top: 5px solid transparent;
  animation: loading-rotate 1s ease-in-out infinite;
  z-index: 200;
}

.header {
  position: sticky;
  top: 0;
  z-index: 333;
  width: 100vw;
}

@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img#fill-heart-green {
  height: 16px;
  content: url("/img/fill-heart.svg");
  aspect-ratio: 1;
}
img#hollow-heart-green {
  height: 16px;
  content: url("/img/heart-green.svg");
  aspect-ratio: 1;
}

img#fill-heart-teal {
  height: 18px;
  content: url("/img/fill-heart-teal500.svg");
  aspect-ratio: 1;
}
img#hollow-heart-white {
  height: 18px;
  content: url("/img/heart-white.svg");
  aspect-ratio: 1;
}

img#download {
  height: 18px;
  content: url("/img/download.svg");
  aspect-ratio: 1;
}

@media (min-width: 1075px) {
  .header {
    position: static;
    width: auto;
  }
  div.footer {
    color: #50b1a8;
    font-size: 1rem;
    text-align: center;
    padding-top: 3rem;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  div.loading-box {
    padding-left: calc(50vw - 518px);
  }
}

@media (min-width: 1087px) {
  /* div.header::after {
    content: "";
    position: absolute;
    top: calc(20% - 6px);
    left: -6px;
    width: calc(100% + 12px);
    height: calc(80% + 12px);

    background-image: url("../public/img/plus.svg"),
      url("../public/img/plus.svg");
    background-size: 12px 12px;
    background-position: top left, top right;
    background-repeat: no-repeat;

    z-index: -1;
  } */
}
