main.about-wrap {
  max-width: 1076px;
  word-break: keep-all;
  font-family: "Pretendard";
  padding: 0 16px;
  /* padding-top: 20px; */
  margin-bottom: 60px;
}

/* 토글 */

.about-toggle {
  display: flex;
  padding-top: 12px;
  gap: 22px;
}

.about-toggle h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  color: #b9c0d4;
  cursor: pointer;
}

h5.about-tap-active {
  color: #006351;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 10%; /* 1.7px */
  text-underline-offset: 25%; /* 4.25px */
  text-underline-position: from-font;
}

/* 운영정책 - 타이틀 */

h1.rule-page-title {
  margin-top: 96px;
  margin-bottom: 20px;
  font-size: 3.2rem;
  color: #006351;
  letter-spacing: -0.48px;
}

p.rule-page-description {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #525252;
  letter-spacing: -0.48px;
}

.vertical-line {
  width: 1px;
  background-color: #1e66592f;
}

/* 운영정책 - 내용 */

.rule-page-description-sub {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #525252;
  margin-bottom: 4px;
}

img.guide-image {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.rule-block-wrap {
  margin-top: 40px;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #006351;
    letter-spacing: -1.08px;
    line-height: 1.3;
    margin-bottom: 8px;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #337e78;
    letter-spacing: -1.08px;
    line-height: 1.5;
  }

  ul {
    padding-left: 2.4rem;

    li {
      font-size: 1.5rem;
      letter-spacing: -0.4px;
      color: #525252;
      line-height: 1.5;
      margin-bottom: 6px;
    }
  }

  a {
    color: #15b79e;
  }
}

.about-divider {
  margin-top: 40px;
  border: 1px #b2c6cd solid;
}

/* 사이트 소개 페이지*/

.title-box {
  margin-top: 110px;
  margin-bottom: 36px;
}

img#intro-logo {
  max-height: 100px;
  height: 16vw;
  margin-right: 7px;
}

p.intro-page-description {
  font-size: 2rem;
  color: #525252;
  letter-spacing: -0.56px;
  font-weight: 400;
  line-height: 1.65;

  strong {
    color: #006351;
    font-weight: 600;
  }
}

p.intro-page-description.half-width {
  width: 100%;
}

/* 사이트소개 - page 소개 */

.page-introduce-wrap {
  margin-top: 240px;
  height: max-content;
}

.page-introduce-gallery {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 61px;
}

.page-introduce-generator {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 65px;
}

.page-introduce-mypage {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 69px;
}

.page-introduce-background-s {
  width: calc(100vw - 32px);
}

.page-introduce-background {
  display: none;
}

.intro-contents-background {
  height: 100%;
  width: calc(100vw - 32px);
  background-color: #fffdeb;

  border-left: 1px solid #006351;
  border-bottom: 1px solid #006351;
  border-right: 1px solid #006351;
  border-end-start-radius: 12px;
  border-end-end-radius: 12px;

  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.intro-contents {
  max-width: 716px;
  position: relative;
  width: min-content;

  p {
    margin-top: 16px;
    margin-bottom: 90px;
    font-size: 1.6rem;
  }

  .gallery-sample1,
  .generator-sample,
  .mypage-sample {
    display: none;
  }

  .gallery-sample-s,
  .generator-sample-s,
  .mypage-sample-s {
    width: 76vw;
  }

  .gallery-sample2 {
    display: none;
  }
}

.intro-member-block-wrap {
  margin-top: 60px;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #006351;
    letter-spacing: -1.08px;
    line-height: 1.3;
    margin-bottom: 8px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
  }

  li {
    flex-grow: 1;
  }

  .profile-img {
    display: flex;
    margin-top: 24px;
    flex-grow: 1;

    img {
      height: min(47vw, 230px);
    }
  }

  .member-number {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #006351;
    font-family: "REM";
    margin: 0;
  }

  h3 {
    color: #006351;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1.08px;
    font-family: Pretendard;
  }

  p {
    color: #525252;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
    letter-spacing: -0.56px;
    margin-top: 20px;
  }
}

.intro-news-block-wrap {
  margin-top: 60px;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #006351;
    letter-spacing: -1.08px;
    line-height: 1.3;
    margin-bottom: 8px;
  }

  ul {
    list-style-type: none;
    margin-top: 10px;
  }

  a {
    text-decoration-line: none;
  }
  .news-list {
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    color: #525252;
    border-bottom: 1px solid #b2c6cd;
  }

  .news-list p:last-child {
    color: #a3a3a3;
    font-weight: 300;
  }
}

@media (min-width: 700px) and (max-width: 1074px) {
  main.about-wrap {
    padding: 0 24px;
  }

  p.intro-page-description.half-width {
    width: 50%;
  }

  .page-introduce-background-s {
    display: none;
  }

  .page-introduce-background {
    display: block;
    width: 100%;
  }

  .gallery-sample-s,
  .generator-sample-s,
  .mypage-sample-s {
    display: none;
  }

  .intro-contents {
    max-width: 716px;
    position: relative;
    width: min-content;

    p {
      margin-top: 32px;
    }

    .gallery-sample1,
    .generator-sample,
    .mypage-sample {
      max-width: 630px;
      display: block;
    }

    .gallery-sample2 {
      display: block;
      position: absolute;
      top: 126px;
      right: 20px;
    }
  }
}

@media (min-width: 1075px) {
  main.about-wrap {
    padding: 0;
    margin-bottom: 100px;
  }

  .about-toggle {
    padding-top: 24px;
    margin: 0;
  }

  .about-toggle h5 {
    font-size: 1.7rem;
  }

  h1.rule-page-title {
    margin-top: 92px;
    margin-bottom: 20px;
    font-size: 4.8rem;
  }

  p.rule-page-description {
    font-size: 2rem;
  }

  /* 운영정책 - 내용 */

  .rule-page-description-sub {
    /* line-height: 1.7; */
    font-size: 1.8rem;
    letter-spacing: -0.4px;
  }

  .rule-block-wrap {
    margin-top: 60px;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 12px;
    }

    h3 {
      font-weight: 600;
      margin-top: 40px;
      font-size: 2.2rem;
      margin-bottom: 14px;
    }

    ul {
      padding-left: 3rem;

      li {
        font-size: 1.8rem;
      }
    }
  }

  .about-divider {
    margin-top: 60px;
  }

  /* 사이트 소개 페이지 */

  .title-box {
    margin-top: 92px;
    margin-bottom: 44px;
  }

  img#intro-logo {
    height: 146px;
    margin-right: 17px;
  }

  p.intro-page-description {
    font-size: 2.9rem;
    color: #525252;
    letter-spacing: -0.56px;
    font-weight: 400;

    line-height: 1.5;
  }

  /* 사이트소개 - page 소개 */

  .page-introduce-wrap {
    margin-top: 240px;
    height: 2640px;
  }

  p.intro-page-description.half-width {
    width: 65%;
  }

  .page-introduce-background-s {
    display: none;
  }

  .page-introduce-background {
    display: block;
    width: 100%;
  }

  .intro-contents-background {
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }

  .page-introduce-gallery {
    height: 880px;
    top: 0px;
  }

  .page-introduce-generator {
    height: 880px;
    top: 0px;
  }

  .page-introduce-mypage {
    height: 880px;
    top: 0px;
  }

  .gallery-sample-s,
  .generator-sample-s,
  .mypage-sample-s {
    display: none;
  }

  .intro-contents {
    max-width: 716px;
    position: relative;
    width: min-content;

    p {
      margin-top: 32px;
      font-size: 2.8rem;
    }

    .gallery-sample1,
    .generator-sample,
    .mypage-sample {
      max-width: 630px;
      display: block;
    }

    .gallery-sample2 {
      display: block;
      position: absolute;
      top: 106px;
      right: -78px;
    }
  }

  .intro-member-block-wrap {
    margin-top: 128px;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 12px;
    }

    h3 {
      font-size: 2.8rem;
    }

    .profile-img {
      img {
        height: 100%;
      }
    }
    .member-number {
      font-size: 2.6rem;
    }

    p {
      font-size: 2.4rem;
    }
  }

  .intro-news-block-wrap {
    margin-top: 128px;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 12px;
    }

    ul {
      margin-top: 24px;
    }

    .news-list {
      font-size: 2.4rem;
      padding: 16px 0;
    }
  }
}
