.App {
  width: fit-content;
}

main.generator-fill {
  padding: 0;
  width: 100vw;
}

button.image {
  border: 0;
  background: transparent;
  cursor: pointer;
  height: 18px;
}

img.item-icon {
  width: 80px;
  height: 80px;
}

div.main-container {
  text-align: center;
  margin: auto;
  justify-content: center;
  width: fit-content;
  position: relative;
}

.write_button_wrap {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
  color: #667085;
}

/* 로그인시 글쓰기 가능 버튼 */
.login_to_write_button {
  width: 140px;
  border: 1px solid #006351;
  background-color: inherit;
  color: #006351;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.6rem;
  cursor: pointer;
}

.login_to_write_button:hover {
  background-color: #006351;
  color: white;
}

.write-button-content {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-left: 5px;
}

/* 에디터 글쓰기 버튼 */

.editor-submit-button {
  width: min(calc(100vw - 64px), 100%);
  display: block;
  margin: 24px auto 0;
  background-color: #f6fefc;
  border: 1px #107569 solid;
  color: #344054;
  height: 49px;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  fill: red;
}

.editor-submit-button:hover {
  color: white;
  background-color: #006351;
}

/* 글쓰기 */

div.editor-container {
  width: 100%;
  color: #006351;
  padding: 0 32px;
}

.editor-divider {
  border: 1px #b2c6cd solid;
  margin-bottom: 4px;
}

.editor-container > h3 {
  margin-top: 40px;
  margin-bottom: 19px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.48px;
  line-height: 1.2;
}

.editor-container > h4 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.48px;
}

.editor-input-title {
  padding-top: 24px;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.48px;
}

.editor-container span {
  margin-left: 10px;
}

.editor-container span,
.input_subtext {
  color: #667085;
  font-size: 1.3rem;
  font-weight: 400;
}

.editor-container [type="text"],
.editor-container textarea {
  width: 100%;
  background-color: unset;
  border: 1px solid #4f938d;
  line-height: 1.5;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #667085;
  font-weight: 400;
  font-family: "Pretendard";
}

.editor-container textarea {
  padding: 15px 20px;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
}

.editor-container [type="text"]:focus {
  outline: none;
  background-color: #eef6fc;
  border-color: #006351;
  box-shadow: 0 0 0 1px #15b79e;
}

.editor-container textarea:focus {
  outline: none;
  background-color: #eef6fc;
  border-color: #006351;
  box-shadow: 0 0 0 1px #15b79e;
}

.editor-tag-box {
  width: 100%;
  border: 1px solid #4f938d;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.editor-tag-title {
  margin-top: 24px;
}

.editor-container [type="text"].tag-input {
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
  box-shadow: none;
}

.editor-tags-wrap {
  display: flex;
  gap: 10px;
}

.editor-tag {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border: none;
  background-color: #dcede9;
  color: #337e78;
  width: max-content;
  font-size: 1.6rem;
  gap: 6px;
  padding: 0 3px 0 5px;
}
p.error-message {
  color: #d92d20;
  font-size: 1.3rem;
  margin-top: 4px;
}
/* 글 수정 하단 버튼 */
.post_edit_submit_buttons {
  max-width: 1076px;
  width: min(calc(100vw - 64px), 100%);
  display: flex;

  gap: 12px;
  height: 49px;
  margin: 24px auto 0;
}

.post_edit_delete_button {
  width: 150px;
  background-color: unset;
  border-radius: 8px;
  border: 1px solid #7e889d;
  color: #7e889d;
  font-size: 1.7rem;
  font-weight: 600;
}

.post_edit_delete_button:hover {
  background-color: white;
  border: 1px solid #e0e3e9;
  color: #6d7586;
}

.post_edit_submit_button {
  background-color: #f6fefc;
  color: #344054;
  flex-grow: 1;
  border-radius: 8px;
  border: 1px #107569 solid;
  font-size: 1.7rem;
  font-weight: 600;
}

.post_edit_submit_button:hover {
  background-color: #107569;
  color: white;
}

@media (min-width: 1075px) {
  div.main-container {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
    max-height: 608px;
    min-height: 608px;
  }
  main.generator-fill > div {
    padding-top: 36px;
  }
}

@media (min-width: 1087px) {
  div.main-container::before {
    content: "";

    position: absolute;
    top: -7px;
    left: -7px;
    width: calc(100% + 14px);
    height: calc(100% + 14px);

    background-image: url("../../public/img/plus.svg"),
      url("../../public/img/plus.svg"), url("../../public/img/plus.svg"),
      url("../../public/img/plus.svg"), url("../../public/img/plus.svg");
    background-size: 12px 12px;
    background-position: top left, top right, center right, bottom left,
      bottom right;
    background-repeat: no-repeat;
    z-index: -1;
  }

  div.editor-container {
    max-width: 1076px;
    margin: 0 auto;
    padding: 0;
  }

  .editor-submit-button {
    max-width: 1076px;
  }

  .write_button_wrap {
    margin-top: 20px;
  }
}
