.flow-text-wrap {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-top: 1px solid #0e9384;
  border-bottom: 1px solid #0e9384;
  margin-bottom: 12px;
}

.flow-text-container {
  width: 100vw;
  display: flex;
  font-family: "Galmuri11";
  color: #0e9384;
  font-size: 1.3rem;
  position: absolute;
}

.flow-text-half {
  animation: marquee 15s linear infinite;
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flow-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
  font-family: "Galmuri11";
  font-weight: 400;
  margin-right: 10px;
}
.flow-text:not(.title):hover {
  background-color: #e1dbfa;
}

.flow-text.title {
  font-weight: 700;
}

@media (min-width: 1075px) {
  .flow-text-wrap {
    margin-bottom: 18px 0;
  }
}
