.post-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}
.post-box {
  width: 25%;
  height: fit-content;
  position: relative;
  margin-bottom: 50px;
}
.post-thumbnail {
  width: 100%;
  aspect-ratio: 540/1080;
}

.tlToggle {
  display: flex;
  font-size: 17px;
  line-height: normal;
  margin-bottom: 30px;
  gap: 10px;
}

.active {
  color: #4f938d;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 10%; /* 1.7px */
  text-underline-offset: 25%; /* 4.25px */
  text-underline-position: from-font;
}
