.App {
  width: fit-content;
}

button.image {
  border: 0;
  background: transparent;
  cursor: pointer;
  height: 18px;
}

img.item-icon {
  width: 80px;
  height: 80px;
}

div.main-container {
  text-align: center;
  margin: auto;
  justify-content: center;
  width: fit-content;
  position: relative;
}

@media (min-width: 1075px) {
  div.main-container {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
    max-height: 608px;
    min-height: 608px;
  }
}

@media (min-width: 1087px) {
  div.main-container::before {
    content: "";

    position: absolute;
    top: -6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);

    background-image: url("../../public/img/plus.svg"),
      url("../../public/img/plus.svg"), url("../../public/img/plus.svg"),
      url("../../public/img/plus.svg"), url("../../public/img/plus.svg");
    background-size: 12px 12px;
    background-position: top left, top right, center right, bottom left,
      bottom right;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
