div.mobile-nav-background {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: #eff3ff;
  width: 100%;
  height: 100%;
  padding: 16px;
  z-index: 100;
}

.mobile-nav-wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  font-size: 1.7rem;
}

.m-modal-close {
  border: 0;
  background: transparent;
  cursor: pointer;
  height: 18px;
  position: absolute;
  top: 22px;
  right: 20px;

  img {
    width: 18px;
  }
}

ul.m-menus {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 28px;
  text-align: center;
  padding-bottom: 28px;
  cursor: pointer;
}

.m-menus.top {
  border-bottom: 1px solid rgba(30, 102, 89, 0.3);
}

.m-menu {
  text-decoration: none;
  color: #006351;
  cursor: pointer;
}

.m-navigation_right {
  border-bottom: unset;
  color: #006351;
}

.m-navigation_right div {
  cursor: pointer;
}

.m-menus li {
  color: #006351;
}

.m-nav-active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 5%; /* 1.7px */
  text-underline-offset: 25%; /* 4.25px */
  text-underline-position: from-font;
}
