.navigation_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  background: #fffdf5a9;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

div.logo {
  height: 33px;
  position: relative;

  img#title {
    content: url("/img/titlelogo_moblie.svg");
    cursor: pointer;
  }
}
.menus {
  display: none;
}

.navigation_right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navigation_right li {
  cursor: pointer;
}

.navigation_right li:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 5%; /* 1.7px */
  text-underline-offset: 25%; /* 4.25px */
  text-underline-position: from-font;
}

.search-button {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}

img#search {
  border-radius: 50%;
  display: block;
  height: 24px;
  content: url("/img/search_header.svg");
  cursor: pointer;
}

img#search:hover {
  background-color: #e6f6f3;
}

img#menu-bar {
  display: block;
  height: 24px;
  content: url("/img/menu_bar.svg");
  cursor: pointer;
}

.navigation_right div {
  display: none;
}

@media (min-width: 1075px) {
  .navigation_wrap {
    width: 100vw;
    height: 102px;

    color: #006351;
    font-family: "REM";
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    max-width: 1076px;
    margin: 0 auto;
    background: none;
    padding: 0;
  }

  ul.menus {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .menus li:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 5%; /* 1.7px */
    text-underline-offset: 25%; /* 4.25px */
    text-underline-position: from-font;
    border-radius: 2px;
  }

  .menu {
    text-decoration: none;
    color: #006351;
    cursor: pointer;
  }

  .nav-active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 5%; /* 1.7px */
    text-underline-offset: 25%; /* 4.25px */
    text-underline-position: from-font;
  }

  div.logo {
    height: 48px;

    img#title {
      display: block;
      height: 46px;
      min-height: 50px;
      content: url("/img/titlelogo.svg");
    }
  }

  .navigation_right {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 187px;
    justify-content: flex-end;
  }

  .navigation_right div {
    cursor: pointer;
    display: block;
  }

  .navigation_right div:hover {
    background-color: #e1dbfa;
  }

  img#menu-bar {
    display: none;
  }
}
